<div class="container page-content">
    <div class="row">
    	<div class="span12">
        	<div class="box-container">
        		<div style="margin-left: auto; margin-right: auto; width: 10em">
					<h2 class="page-title">Write a Review</h2>
						<%= form_for @restaurant do |f| %>
							<%= f.label :name %><br />
							<%= f.text_field :name %>

							<%= f.label :description %><br />
							<%= f.text_area :description %>

							<%= f.select :category_id, Category.all.map{ |f| [f.name, f.id] } %><br />

							<%= f.label :address1 %><br />
							<%= f.text_field :address1 %>


							<%= f.label :address2 %><br />
							<%= f.text_field :address2 %>


							<%= f.label :city %><br />
							<%= f.text_field :city %>


							<%= f.label :state %><br />
							<%= f.text_field :state %>


							<%= f.label :zipcode %><br />
							<%= f.text_field :zipcode %>


							<%= f.label :phone %><br />
							<%= f.text_field :phone %>


							<%= f.label :email %><br />
							<%= f.text_field :email %>


							<%= f.submit class:"btn span3 btn-large"%>

						<% end %>
				</div>
			</div>
		</div>
	</div>
</div>			
