<%= image_tag @restaurant.image_url %>
<h1 class="prop-tile pull-left margin0"><%= @restaurant.name %></h1><br />
<span class="prop-price pull-right serif italic star-rating" data-score=<%= @avg_rating %>></span>
<div class="clearfix padding030 row-fluid">
	<ul >
		<li class="info-label clearfix"><span>Category:</span>
			<span><%= @restaurant.category.name %></span></li>
		<li class="info-label clearfix"><span >Website:</span>
			<span></span></li>
		<li class="info-label clearfix"><span >Description:</span>
			<span><%= @restaurant.description %></span></li>
	</ul>

	<ul >
		<li class="info-label clearfix"><span>Phone:</span>
			<span><%= @restaurant.phone %></span></li>
		<li class="info-label clearfix"><span >Email:</span>
			<span><%= @restaurant.email %></span></li>
		<li class="info-label clearfix"><span >Address:</span>
			<span>
			<%= @restaurant.address1 %><br />
			<%= @restaurant.address2 %><br />
			<%= @restaurant.city %><br />
			<%= @restaurant.state %><br />
			<%= @restaurant.zipcode %><br />
			</span>
		</li>
	</ul>
	<div class="clearfix padding30">
		<%= link_to "Write a Review", new_restaurant_review_path(@restaurant), class: "btn btn-small" %>
		<h3>Reviews</h3>
		<% if @reviews.blank? %>
			<p>No reviews tet!</p>
		<% else %>
			<table class="table">
				<thead>
					<tr>
						<th class="col-mid-3"></th>
						<th class="col-mid-9"></th>
					</tr>
				</thead>
				<tbody>
					<% @reviews.each do |review| %>
					<tr>
						<td>
							<h5><%= "#{review.user.first_name} #{review.user.last_name}" %></h5>
						</td>
						<td>
							<div class="star-rating" data-score=<%= review.rating %>></div>
							<%= review.comment %>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		<% end %>
	</div>				
</div>
